.app-view-header

  // Modal reporter settings modal
  script(type='text/ng-template', id='/reportersSettingsModal.html')
    .col-sm-12
      .modal-header
        h4#reportersSettings.modal-title Reporters Settings
    .col-sm-12
      .modal-body.mt0
        .col-sm-4
          label.control-label Reporter
          select.form-control.m-b(ng-trim="true", type='text', ng-model='currentReporterToSet', ng-options='repToSet._source.settings.LAN for repToSet in reportersToSet', name='reporter', required)
        .col-sm-4
          label.control-label WAN
          input.form-control.m-b(ng-trim="true", type='text', ng-model='currentReporterToSet._source.settings.WAN', placeholder='WAN', name='reporterWan', required)

        .col-md-2
          label.control-label Polling
          input.form-control.pt0.pr0.pb0.pl-sm(type='number', ng-model="currentReporterToSet._source.settings.pollingInterval", placeholder='15', min='1', max='3600', step='1', tooltip='Seconds')

        .col-md-2.mr0
          label.control-label Status
          label.switch(ng-class="'switch-' + app.theme.name")
            input(type='checkbox', ng-checked='currentReporterToSet._source.settings.status == "active"', ng-click="toggleReporterStatus()", tooltip='Active or Inactive')
            span

      .col-sm-12
        hr
        .col-sm-12
          label.control-label Email
          input.form-control.m-b(ng-trim="true", type='text', ng-model='currentReporterToSet._source.settings.notifications.emails', placeholder='Email', name='reporterWan', required)
          br          
        .col-sm-12
          h5 Watchers
            span.pull-right
              small.pull-right Reporter's watchers
          .form-group.mb-sm
            table.table.table-bordered.table-hover.bg-white.pb0.mb0
              tr.text-center(style='font-weight: bold')
                td(style='width:15%') Property
                td(style='width:12%') Predicate
                td(style='width:15%') Threshold
                td(style='width:38%') Emails
                td(style='width:20%') Edit
              tr.text-center(ng-repeat='watcher in currentReporterToSet._source.settings.watchers.reporter')
                td.mt0.mb0.pt0.pb0.align-middle
                  span(editable-text='watcher.type', e-name='Type', e-form='rowform', e-style="width: 100%", onbeforesave='checkIPv4($data, unit)', oncancel="cancelEditRow(watcher)", e-class='pl0 pr0 text-center', e-required='') {{ watcher.type }}
                td.mt0.mb0.pt0.pb0.align-middle
                  span(editable-text='watcher.predicate', e-name='predicate', e-form='rowform', e-style="width: 100%", onbeforesave='checkMACAddress($data, unit)', e-class='pl0 pr0 text-center', e-required='') {{ watcher.predicate }}
                td.mt0.mb0.pt0.pb0.align-middle
                  span(editable-text='watcher.threshold', e-name='pollingInterval', e-form='rowform', e-style="width: 100%", e-min='1', e-max='3600',  e-class='p0 text-center') {{ watcher.threshold }}        
                td.mt0.mb0.pt0.pb0.align-middle
                  span(editable-text='watcher.emails[0]', e-name='status', e-form='rowform', e-ng-options='statusOpt for statusOpt in statusOptions', e-style="width: 100%", e-class='pl0 pr0 text-center') {{ watcher.emails[0] }}
     
                td.mt0.mb0.pt0.pb0(style='white-space: nowrap')
                  // form
                  form.form-buttons.form-inline(editable-form='', name='rowform', onbeforesave='saveUnit($data, unit)', ng-show='rowform.$visible', shown='watcherToAdd == watcher')
                    button.btn.btn-sm.btn-info(type='submit', ng-disabled='rowform.$waiting', title="Save"): em.fa.fa-save
                    button.btn.btn-sm.btn-default(type='button', ng-disabled='rowform.$waiting', ng-click='rowform.$cancel()', title="Cancel"): em.fa.fa-times
                  .buttons(ng-show='!rowform.$visible')
                    button.btn.btn-sm.btn-info(ng-click='rowform.$show()', title="Edit"): em.fa.fa-pencil
                    button.btn.btn-sm.btn-danger(ng-click='removeUnit($index)', title="Delete"): em.fa.fa-trash
            
            button.btn.btn-default.btn-success.mt0(ng-click='addUnit()')
              .fa.fa-plus

        .col-sm-12
          .form-group.mb-sm
            h5 Units
            table.table.table-bordered.table-hover.bg-white.pb0.mb0
              tr.text-center(style='font-weight: bold')
                td(style='width:18%') Unit IP
                td(style='width:18%') MACAddress
                td(style='width:12%') Port
                td(style='width:12%') SNMP
                td(style='width:12%') Status
                td(style='width:13%') Polling (s)
                td(style='width:15%') Edit
              tbody(ng-repeat='unit in currentReporterToSet._source.settings.units')
                tr.text-center()
                  td.mt0.mb0.pt0.pb0.align-middle
                    span(editable-text='unit.IPv4', e-name='IPv4', e-form='rowform', e-style="width: 100%", onbeforesave='checkIPv4($data, unit)', oncancel="cancelEditRow(unit)", e-class='pl0 pr0 text-center', e-required='') {{ unit.IPv4 }}
                  td.mt0.mb0.pt0.pb0.align-middle
                    span(editable-text='unit.MACAddress', e-name='MACAddress', e-form='rowform', e-style="width: 100%", onbeforesave='checkMACAddress($data, unit)', e-class='pl0 pr0 text-center', e-required='') {{ unit.MACAddress }}
                  td.mt0.mb0.pt0.pb0.align-middle
                    span(editable-text='unit.port', e-name='port', e-form='rowform', e-style="width: 100%", onbeforesave='checkPort($data, unit)', e-class='pl0 pr0 text-center', e-required='') {{ unit.port || 161 }}
                  td.mt0.mb0.pt0.pb0.align-middle
                    span(editable-select='unit.snmp.version', e-name='snmpVersion', e-form='rowform', e-ng-options='snmpOpt for snmpOpt in snmpOptions', e-style="width: 100%", e-class='pl0 pr0 text-center', onshow='snmpEdit(unit)', onbeforesave='checkSnmp($data, unit)', ng-model='unit.snmp.version') {{ getSnmpVersion(unit)}}

                  td.mt0.mb0.pt0.pb0.align-middle
                    span(editable-select='unit.status', e-name='status', e-form='rowform', e-ng-options='statusOpt for statusOpt in statusOptions', e-style="width: 100%", e-class='pl0 pr0 text-center') {{ unit.status }}
                  td.mt0.mb0.pt0.pb0.align-middle
                    span(editable-number='unit.pollingInterval', e-name='pollingInterval', e-form='rowform', e-style="width: 100%", e-min='1', e-max='3600',  e-class='p0 text-center', ng-model='unit.pollingInterval') {{unit.pollingInterval}}        
      
                  td.mt0.mb0.pt0.pb0(style='white-space: nowrap')
                    // form
                    form.form-buttons.form-inline(editable-form='', name='rowform', onbeforesave='saveUnit($data, unit)', ng-show='rowform.$visible', shown='unitToAdd == unit')
                      button.btn.btn-sm.btn-info(type='submit', ng-disabled='rowform.$waiting', title="Save"): em.fa.fa-save
                      button.btn.btn-sm.btn-default(type='button', ng-disabled='rowform.$waiting', ng-click='rowform.$cancel()', title="Cancel"): em.fa.fa-times
                    .buttons(ng-show='!rowform.$visible')
                      button.btn.btn-sm.btn-info(ng-click='rowform.$show()', title="Edit"): em.fa.fa-pencil
                      button.btn.btn-sm.btn-danger(ng-click='removeUnit($index)', title="Delete"): em.fa.fa-trash

                tr.text-center(style='font-weight: strong', ng-show='true')
                  td.mt-xs.pt-xs(style='width:100%', colspan='6', ng-show='rowform.$visible && rowform.$data.snmpVersion == snmpOptions[2]')
                    .row
                      .col-sm-4.form-group-sm.mb-xs
                        label.control-label.pull-left.text-sm User
                        input.form-control.input-sm(ng-trim="true", type='text', ng-model='unit.snmp.username', placeholder='User', name='snmpUser', required)
                      .col-sm-5
                        label.control-label.pull-left.text-sm Authentication
                        input.form-control.input-sm(ng-trim="true", type='text', ng-model='unit.snmp.authPassword', placeholder='Auth Password', name='snmpUser', required)
                      .col-sm-3
                        label.control-label.pull-left.text-sm Auth. Protocol
                        select.form-control.input-sm(ng-trim="true", type='text', ng-model='unit.snmp.authProtocol', ng-options='authProtocol for authProtocol in snmpAuthProtocolOptions', name='snmpAuthProtocol', required)
                    .row.mt-xs
                      .col-sm-4.form-group-sm.mb-xs
                      .col-sm-5
                        label.control-label.pull-left.text-sm Priv. Password
                        input.form-control.input-sm(ng-trim="true", type='text', ng-model='unit.snmp.privPassword', placeholder='Priv Password', name='snmpUser', required)

                      .col-sm-3
                        label.control-label.pull-left.text-sm Priv. Protocol
                        select.form-control.input-sm(ng-trim="true", type='text', ng-model='unit.snmp.privProtocol', ng-options='privProtocol for privProtocol in snmpPrivProtocolOptions', name='snmpAuthProtocol', required)


            button.btn.btn-default.btn-success.pull-ri.mt0(ng-click='addUnit()')
              .fa.fa-plus


    .modal-footer
      button.btn.btn-primary(ng-click='saveReportersSettings()') Save Settings 
      button.btn.btn-warning(ng-click='modalCancel()') Cancel

    // End reporter settings modal

    // START dashboard settings modal
    // END dashboard settings modal


  | Dashboard
  small(ng-bind="app.date.toLocaleString()")

.row(ng-controller="DashboardController as dashboard")
  .text-center
  // START dashboard content
  .col-lg-10.fw-boxed
 
    // START Tabbed panel
    .panel.panel-default.dbpanel.pr-lg(ng-init="hpanel = [true, false, false, false]")
      .row
        .col-md-4
          .row.row-flush.text-center.text-muted.m0
            .col-xs-3.col-md-6.bb.br.pv-xxl.clickable(ripple="", ng-click="hpanel = [true, false, false, false]", ng-class="{'bg-info': hpanel[0]}")
              em.icon-server.fa-2x.mv
              p SERVER 
            .col-xs-3.col-md-6.bb.br.pv-xxl.clickable(ripple="", ng-click="hpanel = [false, true, false, false]", ng-class="{'bg-purple': hpanel[1]}")
              em.icon-globe.fa-2x.mv
              p REPORTERS
            .col-xs-3.col-md-6.bb-lg.br.pv-xxl.clickable(ripple="", ng-click="hpanel = [false, false, true, false]", ng-class="{'bg-pink': hpanel[2]}")
              em.icon-box.fa-2x.mv
              p UNITS
            .col-xs-3.col-md-6.bb-lg.br.pv-xxl.clickable(ripple="", ng-click="hpanel = [false, false, false, true]", ng-class="{'bg-amber': hpanel[3]}")
              em.icon-disc.fa-2x.mv
              p LOADS

        .col-md-8(ng-if="hpanel[0]")
          .row.row-table
            .col-sm-12.col-xs-12
              .p
                .row.row-flush.text-center
                  .col-xs-3
                    p CPU
                     .easypie(easypiechart='', options='dashboard.pieOptions', percent='dashboard.cpuPieValue')
                      span {{dashboard.cpuPieValue}} %
                  .col-xs-3
                    p MEMORY
                     .easypie(easypiechart='', options='dashboard.pieOptions', percent='dashboard.memPieValue')
                      span {{dashboard.memValue}}
                  .col-xs-3
                    p STORAGE
                     .easypie(easypiechart='', options='dashboard.pieOptions', percent='dashboard.diskPieValue')
                      span {{dashboard.diskValue}}
                  .col-xs-3
                    p DATABASE
                    .col-xs-6
                      p.mt-md SIZE
                      h4.text-md.mb-lg.mt-lg {{dashboard.dbSize}}
                    .col-xs-6
                      p.mt-md DOCS
                      h4.text-md.mb-lg.mt-lg {{dashboard.dbDocCount}}
          .row.row-table
            .col-sm-6.col-xs-12
              sparkline(options="dashboard.sparkSearchOpts", values="dashboard.sparkSearchVals")
            .col-sm-6.col-xs-12
              sparkline(options="dashboard.sparkOpts", values="dashboard.sparkIndexVals")


        .col-md-8(ng-if="hpanel[1]")
          .row.row-table.mt.pt.mr
            .col-sm-8.col-xs-12.ml0.pl0.mb0.pb0
              .row.row-table.mb0.pb0
                .col-sm-12.col-xs-12
                  em.pull-right.icon-cog.text-muted.clickable(ng-click='dashboard.reportersModalOpen(\'lg\')')
                  .text-md Current Reporter: {{currentReporter._source.idReporters}}
                  .text-muted.pull-left LAN: {{reportersMappings[currentReporter._source.strFrom] || reporter._source.strFrom}} 
                  .text-muted.pull-right WAN: {{currentReporter._source.strFrom}}
              hr.mt0.mb-sm
              .row.row-table
                .col-sm-6.col-xs-12
                  small.text-sm.text-center CPU
                  sparkline.mb(options="dashboard.sparkReporterCPUOpts", values="dashboard.sparkSearchVals")
                .col-sm-6.col-xs-12
                  small.text-sm.text-center Memory
                  sparkline.mb(options="dashboard.sparkReporterCPUOpts", values="dashboard.sparkIndexVals")

              .row.row-table.mt
                .col-sm-6.col-xs-6.mb0
                  .panel.panel-default.mb0.pb0(ripple="")
                    .panel-body.mb0.pb0(ng-class="'bg-' + app.theme.name")
                      h1.text-thin.mt 15 s
                      .text-right.text-sm.text-muted Reporting interval
                .col-sm-6.col-xs-6.mb0
                  .panel.panel-default.mb0.pb0(ripple="")
                    .panel-body.mb0.pb0(ng-class="")
                      h1.text-thin.mt.text 9/10 
                      .text-right.text-sm.text-muted Active / Total Units
            .col-sm-4.col-xs-12
              .row.row-table
                .col-lg-12.col-sm-12.col-xs-12.mt0.mb0
                  .panel.panel-default.mt0.mb0(ripple="")
                    .panel-body(ng-class="'bg-primary'")
                      h1.text-thin.mt.text-center 5 / 13
                      .text-right.text-sm.text-muted Active / Total Reporters
                .col-lg-12.col-sm-12.col-xs-12
                  .panel.panel-default.mt0.mb0(ripple="")
                    .panel-body(ng-class="'bg-primary'")
                      h1.text-thin.mt.text-center 4
                      .text-right.text-sm.text-muted TOTAL ALERTS

        .col-md-8.align-middle.v-middle(ng-if="hpanel[2]", ng-init="dashboard.loadProgressValues()")
          .row.row-table.mt.pt.mr.pr.align-middle
            .col-lg-3.col-sm-3.col-xs-3.align-middle
              .panel.panel-default.align-middle(ripple="")
                .panel-body(ng-class="'bg-primary'")
                  h1.text-thin.mt.text-center 5 / 13
                  .text-right.text-sm.text-muted.text-center Active / Total Units
            .col-lg-3.col-sm-3.col-xs-3.align-middle
              .panel.panel-default(ripple="")
                .panel-body(ng-class="'bg-primary'")
                  h1.text-thin.mt.text-center 12
                  .text-right.text-sm.text-muted.text-center Models
            .col-lg-3.col-sm-3.col-xs-3
              .panel.panel-default(ripple="")
                .panel-body(ng-class="'bg-primary'")
                  h1.text-thin.mt.text-center 13
                  .text-right.text-sm.text-muted.text-center Active Loads
            .col-lg-3.col-sm-3.col-xs-3
              .panel.panel-default(ripple="")
                .panel-body(ng-class="'bg-primary'")
                  h1.text-thin.mt.text-center 19
                  .text-right.text-sm.text-muted.text-center TOTAL ALERTS

        .col-md-8(ng-if="hpanel[3]")
          .p.pv-xxl
            .row.row-table.text-center
              .col-sm-4.col-xs-12
                p.text-muted TOTAL
                h1.text-lg.m0.mb-lg 11
                p.text-muted.m0 LATEST
                p.m0 2.0.32.588
              .col-sm-4.col-xs-12
                p.text-muted ACTIVE
                h1.text-lg.m0.mb-lg 8
                p.text-muted.m0 SINCE
                p.m0 10/7/2015 16:50:07
              .col-sm-4.col-xs-12
                p.text-muted ALERTS
                h1.text-lg.m0.mb-lg 14
                p.text-muted.m0 LAST ALERT
                p.m0 10 minutes ago
    // END Tabbed panel


    // START ML Panel
    .row

    .panel.panel-default
      .panel-heading
        .panel-title
          .col-md-10
            | Memory Usage Data
          .col-md-2
            em.icon-bar-graph-2.fa-lg.text-muted.pull-right
      .panel-body
        .row
          .col-md-10
            .row.row-table.text-center(ng-controller='PeriodDatepickerController')
              .col-md-4
                p.input-group
                  span.input-group-btn
                    button.btn.btn-default(type='button', ng-click='toggleFrom($event)')
                      em.fa.fa-calendar
                  input.form-control(type='text', datepicker-popup='{{format}}', ng-model='currentPeriod.from', is-open='openedFrom', min-date='minDate', max-date="today()", 
                                      datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='true', ng-change="datePickerOnDateChange()", close-text='Close')
              .col-md-4.ml0.pl0
                p.input-group
                  input.form-control(type='text', datepicker-popup='{{format}}', ng-model='currentPeriod.to', is-open='openedTo', min-date='minDate', max-date="today()", 
                                      datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='true', ng-change="datePickerOnDateChange()", close-text='Close')
                  span.input-group-btn
                    button.btn.btn-default(type='button', ng-click='toggleTo($event)')
                      em.fa.fa-calendar

              .col-md-2.ml0.pl0
                p.input-group
                  input.form-control.bfh-number(type='number', ng-model="currentPeriod.resolution", min='100', max='10000', step='100', tooltip='Resolution')

              .col-md-1
                //- p.input-group
                //-   input.form-control.bfh-number(type='number', ng-model="currentPeriod.resolution", min='100', max='10000', step='100', tooltip='Resolution')

              //- .col-md-1.chart-refresh-btn
              .col-md-1
                span.input-group-btn
                    button.btn.btn-default(type='button', ng-click='dashboard.refreshChart($event)')
                      em.fa.fa-refresh
            .row.row-table.text-center
              .text-center(ng-show="chartLoading")
                img(src="app/assets/img/utils/loading-spinner.gif")
              flot.ml-lg.pr-lg(id="flotchart", ng-show="!chartLoading", options='dashboard.splineChartOpts', dataset="dashboard.splineData", series="{lines: dashboard.showSeriesLegend}")
              .row.row-table.pt-lg.mt-lg
                .text-center
                  small.mt.pt Click & drag to zoom selection; double click twice to start zooming out 

          .col-md-2
            table.table.table-hover.mb-lg
              thead
                tr
                  th Unit
                  th.text-right Show
              tbody
                tr(ng-repeat="serie in leaksSeries")
                  td.legend-td.align-top(style="color:{{serie.color}}") {{serie.label}}
                    small.text-left.align-top {{serie.MACAddress}}
                  td.legend-td.text-right
                    label.switch.m0(ng-class="'switch-' + app.theme.name")
                      input(type='checkbox', ng-model="serie.show", ng-click="toggleLegend(serie)")
                      span
                tr
                  td.legend-td All
                  td.legend-td.text-right
                    label.switch.m0(ng-class="'switch-' + app.theme.name")
                      input(type='checkbox', ng-model="showAll")
                      span
 

    // END ML Panel 