.app-view-header
  // Create dashboard settings modal
  script(type='text/ng-template', id='/createDashboardContent.html')
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true', ng-click='modalCancel()') ×
      h4#createCustomDashboard.modal-title Create Dashboard
    .modal-body.mb-lg
        .col-sm-12
          label.control-label Name
          input.form-control.m-b(ng-trim="true", type='text', ng-model='currentDashboard._source.name', placeholder='Name', name='currentDbName', required)
      
      .col-sm-12
        .form-group.mb-sm
          hr
          h5 MemoryLeaks Units
          table.table.table-bordered.table-hover.bg-white.pb0.mb0
            tr.text-center(style='font-weight: bold')
              td(style='width:20%') Unit IP
              td(style='width:20%') MACAddress
              td(style='width:20%') Edit
            tr.text-center(ng-repeat='unit in currentDashboard._source.units.memoryleaks')
                td.mt0.mb0.pt0.pb0.align-middle
                  span(editable-text='unit.IPv4', e-name='IPv4', e-form='rowform', e-style="width: 100%", onbeforesave='checkIPv4($data, unit, currentDashboard._source.units.memoryleaks)', oncancel="cancelEditRow(unit, currentDashboard._source.units.memoryleaks)", e-class='pl0 pr0 text-center', e-required='') {{ unit.IPv4 }}
                td.mt0.mb0.pt0.pb0.align-middle
                  span(editable-text='unit.MACAddress', e-name='MACAddress', e-form='rowform', e-style="width: 100%", onbeforesave='checkMACAddress($data, unit, currentDashboard._source.units.memoryleaks)', e-class='pl0 pr0 text-center', e-required='') {{ unit.MACAddress }}
                td.mt0.mb0.pt0.pb0(style='white-space: nowrap')
                  // form
                  form.form-buttons.form-inline(editable-form='', name='rowform', onbeforesave='saveUnit($data, unit)', ng-show='rowform.$visible', shown='unitToAdd == unit')
                    button.btn.btn-sm.btn-info(type='submit', ng-disabled='rowform.$waiting', title="Save"): em.fa.fa-save
                    button.btn.btn-sm.btn-default(type='button', ng-disabled='rowform.$waiting', ng-click='rowform.$cancel()', title="Cancel"): em.fa.fa-times
                  .buttons(ng-show='!rowform.$visible')
                    button.btn.btn-sm.btn-info(ng-click='rowform.$show()', title="Edit"): em.fa.fa-pencil
                    button.btn.btn-sm.btn-danger(ng-click='removeUnit($index, currentDashboard._source.units.memoryleaks)', title="Delete"): em.fa.fa-trash
            
          button.btn.btn-default.btn-success.pull-right.mt0(ng-click='addUnit(currentDashboard._source.units.memoryleaks)')
            .fa.fa-plus

          hr
          h5 Syslog Units
          table.table.table-bordered.table-hover.bg-white.pb0.mb0
            tr.text-center(style='font-weight: bold')
              td(style='width:20%') Unit IP
              td(style='width:20%') MACAddress
              td(style='width:20%') Edit
            tr.text-center(ng-repeat='unit in currentDashboard._source.units.syslog')
                td.mt0.mb0.pt0.pb0.align-middle
                  span(editable-text='unit.IPv4', e-name='IPv4', e-form='rowform', e-style="width: 100%", onbeforesave='checkIPv4($data, unit, currentDashboard._source.units.syslog)', oncancel="cancelEditRow(unit)", e-class='pl0 pr0 text-center', e-required='') {{ unit.IPv4 }}
                td.mt0.mb0.pt0.pb0.align-middle
                  span(editable-text='unit.MACAddress', e-name='MACAddress', e-form='rowform', e-style="width: 100%", onbeforesave='checkMACAddress($data, unit, currentDashboard._source.units.syslog)', e-class='pl0 pr0 text-center', e-required='') {{ unit.MACAddress }}
                td.mt0.mb0.pt0.pb0(style='white-space: nowrap')
                  // form
                  form.form-buttons.form-inline(editable-form='', name='rowform', onbeforesave='saveUnit($data, unit)', ng-show='rowform.$visible', shown='unitToAdd == unit')
                    button.btn.btn-sm.btn-info(type='submit', ng-disabled='rowform.$waiting', title="Save"): em.fa.fa-save
                    button.btn.btn-sm.btn-default(type='button', ng-disabled='rowform.$waiting', ng-click='rowform.$cancel()', title="Cancel"): em.fa.fa-times
                  .buttons(ng-show='!rowform.$visible')
                    button.btn.btn-sm.btn-info(ng-click='rowform.$show()', title="Edit"): em.fa.fa-pencil
                    button.btn.btn-sm.btn-danger(ng-click='removeUnit($index)', title="Delete"): em.fa.fa-trash
            
          button.btn.btn-default.btn-success.pull-right.mt0(ng-click='addUnit(currentDashboard._source.units.syslog)')
            .fa.fa-plus
      
    .modal-footer.mt-lg
      button.btn.btn-primary.mt-lg(ng-click='saveDashboard()') Save
      button.btn.btn-warning.mt-lg(ng-click='modalCancel()') Cancel


  | DB 1
  small(ng-bind="app.date.toLocaleString()")

.row(ng-controller="CustomDashboardController as customDashboard")
  .text-center
  // START dashboard content
  .col-lg-10.fw-boxed

    // START Dashboard buttons
    .row.mt-lg.mb-lg
      .col-md-12
        button.btn.btn-default.btn-sm.mr0(ng-click='customDashboard.openCreateModal()') Create
        button.btn.btn-default.btn-sm.ml0(ng-click='customDashboard.openEditModal()') Edit
        button.btn.btn-default.btn-sm(ng-click='addUnit()') Add Unit
      // END


    // START Panel
    .row

    .panel.panel-default
      .panel-heading
        .panel-title 
          em.icon-bar-graph-2.fa-lg.text-muted.pull-right
          | Memory Usage Data
      .panel-body
        .row
          .col-md-10
            .row.row-table.text-center(ng-controller='PeriodDatepickerController')
              .col-md-4
                p.input-group
                  span.input-group-btn
                    button.btn.btn-default(type='button', ng-click='toggleFrom($event)')
                      em.fa.fa-calendar
                  input.form-control(type='text', datepicker-popup='{{format}}', ng-model='currentPeriod.from', is-open='openedFrom', min-date='minDate', max-date="today()", 
                                      datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='true', ng-change="datePickerOnDateChange()", close-text='Close')
              .col-md-4
                p.input-group
                  input.form-control(type='text', datepicker-popup='{{format}}', ng-model='currentPeriod.to', is-open='openedTo', min-date='minDate', max-date="today()", 
                                      datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='true', ng-change="datePickerOnDateChange()", close-text='Close')
                  span.input-group-btn
                    button.btn.btn-default(type='button', ng-click='toggleTo($event)')
                      em.fa.fa-calendar

              .col-md-2
                p.input-group
                  input.form-control.bfh-number(type='number', ng-model="currentPeriod.resolution", min='100', max='10000', step='100', tooltip='Resolution')

              .col-md-2.pull-right.chart-refresh-btn
                span.input-group-btn
                    button.btn.btn-default(type='button', ng-click='customDashboard.refreshChart($event)')
                      em.fa.fa-refresh

            .text-center(ng-show="chartLoading")
              img(src="app/assets/img/utils/loading-spinner.gif")
            flot(id="flotchart", ng-show="!chartLoading", options='customDashboard.splineChartOpts', dataset="customDashboard.splineData", series="{lines: customDashboard.showSeriesLegend}")
            .row.row-table.pt-lg.mt-lg
              .text-center
                small.mt.pt Click & drag to zoom selection; double click twice to start zooming out 

          .col-md-2
            table.table.table-hover.mb-lg
              thead
                tr
                  th Unit
                  th.text-right Show
              tbody
                tr(ng-repeat="serie in leaksSeries")
                  td.legend-td.align-top(style="color:{{serie.color}}") {{serie.label}}
                    small.text-left.align-top {{serie.MACAddress}}
                  td.legend-td.text-right
                    label.switch.m0(ng-class="'switch-' + app.theme.name")
                      input(type='checkbox', ng-model="serie.show", ng-click="toggleLegend(serie)")
                      span
                tr
                  td.legend-td All
                  td.legend-td.text-right
                    label.switch.m0(ng-class="'switch-' + app.theme.name")
                      input(type='checkbox', ng-model="showAll")
                      span
 
 