.app-view-header
  // Modal inline template
  script(type='text/ng-template', id='/reportersSettingsModal.html')
    .modal-header
      h4#myModalLabel.modal-title Reporters Settings
    .modal-body.mt0.pt0
      //- .form-group
      //-   select.form-control()
      .col-sm-4.pl0.ml0
        label.control-label Reporter
        select.form-control.m-b(ng-trim="true", type='text', ng-model='reporterSettings.id', placeholder='Reporter..', name='reporter', required)
          option 192.168.12.1
          option 192.168.8.1
          option 192.168.28.1
          option 192.168.25.1
        br
      .col-sm-4
        label.control-label WAN
        input.form-control.m-b(ng-trim="true", type='text', ng-model='reporterSettings.wan', placeholder='WAN', name='reporterWan', required)
        br

      .col-md-2
        label.control-label Polling
        input.form-control.pt0.pr0.pb0.pl-sm(type='number', ng-model="reporterSettings.polling", min='1', max='10000', step='1', tooltip='Seconds')
        br

      .col-md-2
        label.control-label State
        br
        label.switch(ng-class="'switch-' + app.theme.name")
          input(type='checkbox', ng-model="serie.show", ng-click="toggleLegend(serie)")
          span
        br

      .form-group
        table.table.table-bordered.table-hover.bg-white
          tr(style='font-weight: bold')
            td(style='width:25%') Unit IP
            td(style='width:25%') Status
            td(style='width:25%') Polling Interval (s)
            td(style='width:25%') Edit
          tr(ng-repeat='unit in reporterSettings.units')
            td
              span(editable-text='unit.unitIP', e-name='unitIP', e-form='rowform', onbeforesave='xtable.checkName($data, user.id)', e-required='') {{ user.name || &apos;empty&apos; }}
            td
              // editable status (select-local)
              span(editable-select='user.status', e-name='status', e-form='rowform', e-ng-options='s.value as s.text for s in xtable.statuses') {{ xtable.showStatus(user) }}        
            td
              // editable group (select-remote)
              span(editable-select='user.group', e-name='group', onshow='xtable.loadGroups()', e-form='rowform', e-ng-options='g.id as g.text for g in xtable.groups') {{ xtable.showGroup(user) }}
            td(style='white-space: nowrap')
              // form
              form.form-buttons.form-inline(editable-form='', name='rowform', onbeforesave='xtable.saveUser($data, user.id)', ng-show='rowform.$visible', shown='xtable.inserted == user')
                button.btn.btn-sm.btn-info(type='submit', ng-disabled='rowform.$waiting', title="Save"): em.fa.fa-save
                button.btn.btn-sm.btn-default(type='button', ng-disabled='rowform.$waiting', ng-click='rowform.$cancel()', title="Cancel"): em.fa.fa-times
              .buttons(ng-show='!rowform.$visible')
                button.btn.btn-sm.btn-info(ng-click='rowform.$show()', title="Edit"): em.fa.fa-pencil
                button.btn.btn-sm.btn-danger(ng-click='xtable.removeUser($index)', title="Delete"): em.fa.fa-trash
        button.btn.btn-default(ng-click='xtable.addUser()') Add row


    .modal-footer
      button.btn.btn-primary(ng-click='saveSetting(repSettings)') Save Settings 
      button.btn.btn-warning(ng-click='modalCancel()') Cancel

  | Dashboard
  small(ng-bind="app.date.toLocaleString()")

.row(ng-controller="DashboardController as dashboard")
  .text-center
  // START dashboard content
  .col-lg-9.fw-boxed
 
    // START Tabbed panel
    .panel.panel-default.dbpanel(ng-init="hpanel = [false, true, false, false]")
      .row
        .col-md-4
          .row.row-flush.text-center.text-muted.m0
            .col-xs-3.col-md-6.bb.br.pv-xxl.clickable(ripple="", ng-click="hpanel = [true, false, false, false]", ng-class="{'bg-info': hpanel[0]}")
              em.icon-server.fa-2x.mv
              p SERVER 
            .col-xs-3.col-md-6.bb.br.pv-xxl.clickable(ripple="", ng-click="hpanel = [false, true, false, false]", ng-class="{'bg-purple': hpanel[1]}")
              em.icon-globe.fa-2x.mv
              p REPORTERS
            .col-xs-3.col-md-6.bb-lg.br.pv-xxl.clickable(ripple="", ng-click="hpanel = [false, false, true, false]", ng-class="{'bg-pink': hpanel[2]}")
              em.icon-box.fa-2x.mv
              p UNITS
            .col-xs-3.col-md-6.bb-lg.br.pv-xxl.clickable(ripple="", ng-click="hpanel = [false, false, false, true]", ng-class="{'bg-amber': hpanel[3]}")
              em.icon-disc.fa-2x.mv
              p LOADS

        .col-md-8(ng-if="hpanel[0]")
          .row.row-table
            .col-sm-12.col-xs-12
              .p
                .row.row-flush.text-center
                  .col-xs-2
                    p.mt-lg CPU (%)
                     .easypie(easypiechart='', options='dashboard.pieOptions', percent='dashboard.cpuPieValue')
                      span {{dashboard.cpuPieValue}}
                  .col-xs-3
                    p.mt-lg MEMORY
                     .easypie(easypiechart='', options='dashboard.pieOptions', percent='dashboard.memPieValue')
                      span {{dashboard.memValue}}
                  .col-xs-3
                    p.mt-lg STORAGE
                     .easypie(easypiechart='', options='dashboard.pieOptions', percent='dashboard.diskPieValue')
                      span {{dashboard.diskValue}}
                  .col-xs-4
                    .col-xs-6
                      p.mt-lg DB SIZE
                      h4.text-md.m0.mb-lg {{dashboard.dbSize}}
                      p.mt-lg.m0 12 TYPES
                    .col-xs-6
                      p.mt-lg DB DOCS
                      h4.text-md.m0.mb-lg.text-nowrap {{dashboard.dbDocCount}}
                      p.mt-lg.m0 12 TYPES
          .row.row-table
            .col-sm-6.col-xs-12
              sparkline.mb(options="dashboard.sparkSearchOpts", values="dashboard.sparkSearchVals")
            .col-sm-6.col-xs-12
              sparkline.mb(options="dashboard.sparkOpts", values="dashboard.sparkIndexVals")


        .col-md-8(ng-if="hpanel[1]")
          .row.row-table.mt.pt.mr(chained-animation="fadeIn")
            .col-sm-8.col-xs-12.ml0.pl0.mb0.pb0
              .row.row-table.mb0.pb0
                .col-sm-12.col-xs-12
                  em.pull-right.icon-cog.text-muted.clickable(ng-click='dashboard.reportersModalOpen()')
                  .text-md Current Reporter: {{currentReporter._source.idReporters}}
                  .text-muted.pull-left LAN: {{reportersMappings[currentReporter._source.strFrom] || reporter._source.strFrom}} 
                  .text-muted.pull-right WAN: {{currentReporter._source.strFrom}}
              hr.mt0
              .row.row-table
                .col-sm-6.col-xs-12
                  small.text-sm.text-center CPU
                  sparkline.mb(options="dashboard.sparkReporterCPUOpts", values="dashboard.sparkSearchVals")
                .col-sm-6.col-xs-12
                  small.text-sm.text-center Memory
                  sparkline.mb(options="dashboard.sparkReporterCPUOpts", values="dashboard.sparkIndexVals")

              .row.row-table.mb0.pb0.mt
                .col-lg-4.col-sm-4.col-xs-4.mb0
                  .panel.panel-default.mb0.pb0(ripple="")
                    .panel-body.mb0.pb0(ng-class="'bg-' + app.theme.name")
                      h1.text-thin.mt 150 s
                      .text-right.text-sm.text-muted Reporting interval
                .col-lg-4.col-sm-4.col-xs-4.mb0
                  .panel.panel-default.mb0.pb0(ripple="")
                    .panel-body.mb0.pb0(ng-class="")
                      h1.text-thin.mt.text 9/10 
                      .text-right.text-sm.text-muted Active / Total Units
                .col-lg-4.col-sm-4.col-xs-4.mb0
                  .panel.panel-default.mb0.pb0(ripple="")
                    .panel-body.mb0.pb0(ng-class="'bg-' + app.theme.name")
                      h1.text-thin.mt 2
                      .text-right.text-sm.text-muted ALERTS

            .col-sm-4.col-xs-12
              .row.row-table
                .col-lg-12.col-sm-3.col-xs-3
                  .panel.panel-default(ripple="")
                    .panel-body(ng-class="'bg-primary'")
                      h1.text-thin.mt.text-center 5 / 13
                      .text-right.text-sm.text-muted.text-center Active / Total Reporters
                .col-lg-12.col-sm-3.col-xs-3
                  .panel.panel-default(ripple="")
                    .panel-body(ng-class="'bg-primary'")
                      h1.text-thin.mt.text-center 4
                      .text-right.text-sm.text-muted.text-center TOTAL ALERTS

        .col-md-8.align-middle.v-middle(ng-if="hpanel[2]", ng-init="dashboard.loadProgressValues()")
          .row.row-table.mt.pt.mr.pr.align-middle
            .col-lg-3.col-sm-3.col-xs-3.align-middle
              .panel.panel-default.align-middle(ripple="")
                .panel-body(ng-class="'bg-primary'")
                  h1.text-thin.mt.text-center 5 / 13
                  .text-right.text-sm.text-muted.text-center Active / Total Units
            .col-lg-3.col-sm-3.col-xs-3.align-middle
              .panel.panel-default(ripple="")
                .panel-body(ng-class="'bg-primary'")
                  h1.text-thin.mt.text-center 12
                  .text-right.text-sm.text-muted.text-center Models
            .col-lg-3.col-sm-3.col-xs-3
              .panel.panel-default(ripple="")
                .panel-body(ng-class="'bg-primary'")
                  h1.text-thin.mt.text-center 13
                  .text-right.text-sm.text-muted.text-center Active Loads
            .col-lg-3.col-sm-3.col-xs-3
              .panel.panel-default(ripple="")
                .panel-body(ng-class="'bg-primary'")
                  h1.text-thin.mt.text-center 19
                  .text-right.text-sm.text-muted.text-center TOTAL ALERTS

        .col-md-8(ng-if="hpanel[3]")
          .p.pv-xxl
            .row.row-table.text-center
              .col-sm-4.col-xs-12
                p.text-muted TOTAL
                h1.text-lg.m0.mb-lg 11
                p.text-muted.m0 LATEST
                p.m0 2.0.32.588
              .col-sm-4.col-xs-12
                p.text-muted ACTIVE
                h1.text-lg.m0.mb-lg 8
                p.text-muted.m0 SINCE
                p.m0 10/7/2015 16:50:07
              .col-sm-4.col-xs-12
                p.text-muted ALERTS
                h1.text-lg.m0.mb-lg 14
                p.text-muted.m0 LAST ALERT
                p.m0 10 minutes ago
    // END Tabbed panel


    // START Panel
    .panel.panel-default
      .panel-heading
        .panel-title 
          em.icon-bar-graph-2.fa-lg.text-muted.pull-right
          | Memory Usage Data
      .panel-body
        .row
          .col-md-10
            .row.row-table.text-center(ng-controller='PeriodDatepickerController')
              .col-md-4
                p.input-group
                  span.input-group-btn
                    button.btn.btn-default(type='button', ng-click='toggleFrom($event)')
                      em.fa.fa-calendar
                  input.form-control(type='text', datepicker-popup='{{format}}', ng-model='currentPeriod.from', is-open='openedFrom', min-date='minDate', max-date="today()", 
                                      datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='true', ng-change="datePickerOnDateChange()", close-text='Close')
              .col-md-4
                p.input-group
                  input.form-control(type='text', datepicker-popup='{{format}}', ng-model='currentPeriod.to', is-open='openedTo', min-date='minDate', max-date="today()", 
                                      datepicker-options='dateOptions', date-disabled='disabled(date, mode)', ng-required='true', ng-change="datePickerOnDateChange()", close-text='Close')
                  span.input-group-btn
                    button.btn.btn-default(type='button', ng-click='toggleTo($event)')
                      em.fa.fa-calendar

              .col-md-2
                p.input-group
                  input.form-control(type='number', ng-model="currentPeriod.resolution", min='100', max='10000', step='100', tooltip='Resolution')

              .col-md-2.pull-right.chart-refresh-btn
                span.input-group-btn
                    button.btn.btn-default(type='button', ng-click='dashboard.refreshChart($event)')
                      em.fa.fa-refresh

            .text-center(ng-show="chartLoading")
              img(src="app/assets/img/utils/loading-spinner.gif")
            flot(id="flotchart", ng-show="!chartLoading", options='dashboard.splineChartOpts', dataset="dashboard.splineData", series="{lines: dashboard.showSeriesLegend}")
            .row.row-table.pt-lg.mt-lg
              .text-center
                small.mt.pt Click & drag to zoom selection; double click twice to start zooing out 

          .col-md-2
            table.table.table-hover.mb-lg
              thead
                tr
                  th Unit
                  th.text-right Show
              tbody
                tr(ng-repeat="serie in leaksSeries")
                  td.legend-td.align-top(style="color:{{serie.color}}") {{serie.label}}
                    small.text-left.align-top {{units[serie.idUnits]["MACAddress"]}}
                  td.legend-td.text-right
                    label.switch.m0(ng-class="'switch-' + app.theme.name")
                      input(type='checkbox', ng-model="serie.show", ng-click="toggleLegend(serie)")
                      span
                tr
                  td.legend-td All
                  td.legend-td.text-right
                    label.switch.m0(ng-class="'switch-' + app.theme.name")
                      input(type='checkbox', ng-model="showAll")
                      span
 
 