.app-view-header


  | Server
  small(ng-bind="app.date.toLocaleString()")

.row(ng-controller="ServerController as server")
  .text-center
  // START dashboard content
  .col-lg-9.fw-boxed

    // START reporters Panel
    .panel.panel-default
      .panel-heading
        .panel-title 
          em.icon-cog.fa-lg.text-muted.pull-right
          | Snapshots
      .panel-body
        .row
          .col-sm-12
            form.form-horizontal
              table.table.table-bordered.table-hover.bg-white
                tr.text-center(style='font-weight: bold')
                  td(style='width:20%') Snapshot Id
                  td(style='width:20%') Date
                  td(style='width:20%') State
                  td(style='width:20%') Indices
                  td(style='width:20%') Delete Snapshot
                tr.text-center(ng-repeat='snapshot in server.snapshots')
                  td.mt0.mb0.pt0.pb0.align-middle.text-center {{snapshot.snapshot}}
                  td.mt0.mb0.pt0.pb0.align-middle {{getLocalDateString(snapshot.start_time)}}
                  td.mt0.mb0.pt0.pb0.align-middle {{snapshot.state}}
                  td.mt0.mb0.pt0.pb0.align-middle 
                    ul(ng-repeat='index in snapshot.indices')
                      li {{index }}                
                  td.mt0.mb0.pt0.pb0(style='white-space: nowrap')
                    .buttons
                      button.btn.btn-sm.btn-danger(ng-click='deleteSnapShot(snapshot)', title="Delete"): em.fa.fa-trash
              button.btn.btn-default.btn-info.pull-right(ng-click='createSnapshot()') Create
        // END reporters Panel

    // START reporters Panel
    .panel.panel-default
      .panel-heading
        .panel-title 
          em.icon-cog.fa-lg.text-muted.pull-right
          | Reporters
      .panel-body
        .row
          .col-sm-12
            form.form-horizontal
              table.table.table-bordered.table-hover.bg-white
                tr.text-center(style='font-weight: bold')
                  td(style='width:10%') Reporter Id
                  td(style='width:20%') LAN
                  td(style='width:20%') WAN
                  td(style='width:15%') Units
                  td(style='width:15%') Delete Reporter
                  td(style='width:10%') Delete Logs
                tr.text-center(ng-repeat='reporter in server.reporters')
                  td.mt0.mb0.align-middle.text-center {{reporter._source.idReporters}}
                  td.align-middle {{reporter._source.settings.LAN}}
                  td.mt0.mb0.align-middle {{reporter._source.settings.WAN}}
                  td.mt0.mb0.align-middle {{reporter._source.settings.units.length}}                    
                  td.mt0.mb0.pt0.pb0(style='white-space: nowrap')
                    .form-group
                      .checkbox.c-checkbox.needsclick
                        label.needsclick
                          input(type='checkbox', value='', ng-model='reporter._deleteReporter').needsclick
                          span.fa.fa-check                    
                  td.mt0.mb0.pt0.pb0(style='white-space: nowrap')
                    .form-group
                      .checkbox.c-checkbox.needsclick
                        label.needsclick
                          input(type='checkbox', value='', ng-model='reporter._deleteReporterLogs').needsclick
                          span.fa.fa-check
              button.btn.btn-default.btn-danger.pull-right(ng-click='deleteReportersData()') Delete
        // END reporters Panel

    // START units Panel
    .panel.panel-default
      .panel-heading
        .panel-title 
          em.icon-cog.fa-lg.text-muted.pull-right
          | Units
      .panel-body
        .row
          .col-sm-12
            .form-group
              table.table.table-bordered.table-hover.bg-white
                tr.text-center(style='font-weight: bold')
                  td(style='width:10%') Unit Id
                  td(style='width:20%') IP
                  td(style='width:20%') MAC
                  td(style='width:15%') Model
                  td(style='width:15%') Delete Unit
                  td(style='width:10%') Delete Logs
                tr.text-center(ng-repeat='unit in server.units')
                  td.mt0.mb0.align-middle.text-center {{unit.idUnits}}
                  td.align-middle {{getUnitIP(unit.idUnits)}}
                  td.mt0.mb0.align-middle {{unit.MACAddress}}
                  td.mt0.mb0.align-middle {{getUnitModel(unit.idModel)}}
                    
                  td.mt0.mb0.pt0.pb0(style='white-space: nowrap')
                    .form-group
                      .checkbox.c-checkbox.needsclick
                        label.needsclick
                          input(type='checkbox', value='', ng-model='unit._deleteUnit').needsclick
                          span.fa.fa-check                    
                  td.mt0.mb0.pt0.pb0(style='white-space: nowrap')
                    .form-group
                      .checkbox.c-checkbox.needsclick
                        label.needsclick
                          input(type='checkbox', value='', ng-model='unit._deleteUnitLogs').needsclick
                          span.fa.fa-check
              button.btn.btn-default.btn-danger.pull-right(ng-click='deleteUnitsData()') Delete

        // END units Panel
   
   