.app-view-header


  | Syslogs
  small(ng-bind="app.date.toLocaleString()")

.row(ng-controller="SyslogController as syslog")
  .text-center
  // START page content
  .col-lg-9.fw-boxed

    // START Logs Panel
    .panel.panel-default
      .panel-heading
        .panel-title 
          em.icon-grid.fa-lg.text-muted.pull-right
          | Syslogs for {{currentSyslogUnit}}
      .panel-body
        .row
          .col-sm-12
            div
              table.row-border.hover(datatable='ng')
                thead
                  tr
                    th(style='width:15%') Time
                    th(style='width:10%') Facility
                    th(style='width:10%') Level
                    th(style='width:65%') Message
                tbody
                  tr(ng-repeat='log in currentSyslogLogs')
                    td {{ getLocalDate( log._source['@timestamp']) }}
                    td {{ log._source.facility_label }}
                    td {{ log._source.severity_label }}
                    td {{ log._source.message }}
    // END Logs Panel

   