// START Sidebar
.sidebar-wrapper
  .sidebar(ui-sidebar="")
    .sidebar-nav
        ul.nav
          // Iterates over all sidebar items
          li.nav-heading
            span.text-muted(translate='sidebar.heading.HEADER') Main Navigation
          li(ui-sref-active="active")
            a(ui-sref='app.dashboard', title='Dashboard', ripple='')
              .label.pull-right.label-success 4
              em.sidebar-item-icon.icon-pie-graph
              span(translate='sidebar.nav.DASHBOARD') Dashboard
          li(ng-class="{active:$state.includes('app')}")
            a(href='', title='Layouts', ripple='')
              em.sidebar-item-icon.icon-globe
              em.sidebar-item-caret.fa.pull-right.fa-angle-right
              span Reporters
            ul.nav.sidebar-subnav
              li.sidebar-subnav-header
                a
                  em.sidebar-item-icon.fa.fa-angle-right
                  | Reporters
              li(ui-sref-active="active")
                a(ui-sref='app.dashboard', title='Default', ripple='')
                  em.sidebar-item-icon
                  span 192.168.4.1
              li(ui-sref-active="active")
                a(ui-sref='app.dashboard', title='Default', ripple='')
                  em.sidebar-item-icon
                  span 192.168.8.1
              li(ui-sref-active="active")
                a(ui-sref='app.dashboard', title='Default', ripple='')
                  em.sidebar-item-icon
                  span 192.168.38.1
// END Sidebar
