// Modal inline template
script(type='text/ng-template', id='/reportersSettingsModal.html')
  .col-sm-12
    .modal-header
      h4#myModalLabel.modal-title Reporters Settings
  .col-sm-12
    .modal-body.mt0
      .col-sm-4
        label.control-label Reporter
        select.form-control.m-b(ng-trim="true", type='text', ng-model='currentReporterToSet', ng-options='repToSet._source.settings.LAN for repToSet in reportersToSet', name='reporter', required)
      .col-sm-4
        label.control-label WAN
        input.form-control.m-b(ng-trim="true", type='text', ng-model='currentReporterToSet._source.settings.WAN', placeholder='WAN', name='reporterWan', required)

      .col-md-2
        label.control-label Polling
        input.form-control.pt0.pr0.pb0.pl-sm(type='number', ng-model="currentReporterToSet._source.settings.pollingInterval", placeholder='15', min='1', max='3600', step='1', tooltip='Seconds')

      .col-md-2.mr0
        label.control-label Status
        label.switch(ng-class="'switch-' + app.theme.name")
          input(type='checkbox', ng-checked='currentReporterToSet._source.settings.status == "active"', ng-click="toggleReporterStatus()", tooltip='Active or Inactive')
          span

    .col-sm-12
      hr
      .col-sm-12
        label.control-label Email
        input.form-control.m-b(ng-trim="true", type='text', ng-model='currentReporterToSet._source.settings.notifications.emails', placeholder='Email', name='reporterWan', required)
        br          
      .col-sm-12
        h5 Watchers
          span.pull-right
            small.pull-right Reporter's watchers
        .form-group.mb-sm
          table.table.table-bordered.table-hover.bg-white.pb0.mb0
            tr.text-center(style='font-weight: bold')
              td(style='width:15%') Property
              td(style='width:12%') Predicate
              td(style='width:15%') Threshold
              td(style='width:38%') Emails
              td(style='width:20%') Edit
            tr.text-center(ng-repeat='watcher in currentReporterToSet._source.settings.watchers.reporter')
              td.mt0.mb0.pt0.pb0.align-middle
                span(editable-text='watcher.type', e-name='Type', e-form='rowform', e-style="width: 100%", onbeforesave='checkIPv4($data, unit)', oncancel="cancelEditRow(watcher)", e-class='pl0 pr0 text-center', e-required='') {{ watcher.type }}
              td.mt0.mb0.pt0.pb0.align-middle
                span(editable-text='watcher.predicate', e-name='predicate', e-form='rowform', e-style="width: 100%", onbeforesave='checkMACAddress($data, unit)', e-class='pl0 pr0 text-center', e-required='') {{ watcher.predicate }}
              td.mt0.mb0.pt0.pb0.align-middle
                span(editable-text='watcher.threshold', e-name='pollingInterval', e-form='rowform', e-style="width: 100%", e-min='1', e-max='3600',  e-class='p0 text-center') {{ watcher.threshold }}        
              td.mt0.mb0.pt0.pb0.align-middle
                span(editable-text='watcher.emails[0]', e-name='status', e-form='rowform', e-ng-options='statusOpt for statusOpt in statusOptions', e-style="width: 100%", e-class='pl0 pr0 text-center') {{ watcher.emails[0] }}
   
              td.mt0.mb0.pt0.pb0(style='white-space: nowrap')
                // form
                form.form-buttons.form-inline(editable-form='', name='rowform', onbeforesave='saveUnit($data, unit)', ng-show='rowform.$visible', shown='watcherToAdd == watcher')
                  button.btn.btn-sm.btn-info(type='submit', ng-disabled='rowform.$waiting', title="Save"): em.fa.fa-save
                  button.btn.btn-sm.btn-default(type='button', ng-disabled='rowform.$waiting', ng-click='rowform.$cancel()', title="Cancel"): em.fa.fa-times
                .buttons(ng-show='!rowform.$visible')
                  button.btn.btn-sm.btn-info(ng-click='rowform.$show()', title="Edit"): em.fa.fa-pencil
                  button.btn.btn-sm.btn-danger(ng-click='removeUnit($index)', title="Delete"): em.fa.fa-trash
          
          button.btn.btn-default.btn-success.mt0(ng-click='addUnit()')
            .fa.fa-plus

      .col-sm-12
        .form-group.mb-sm
          h5 Units
          table.table.table-bordered.table-hover.bg-white.pb0.mb0
            tr.text-center(style='font-weight: bold')
              td(style='width:20%') Unit IP
              td(style='width:20%') MACAddress
              td(style='width:15%') Status
              td(style='width:25%') Polling (s)
              td(style='width:20%') Edit
            tr.text-center(ng-repeat='unit in currentReporterToSet._source.settings.units')
              td.mt0.mb0.pt0.pb0.align-middle
                span(editable-text='unit.IPv4', e-name='IPv4', e-form='rowform', e-style="width: 100%", onbeforesave='checkIPv4($data, unit)', oncancel="cancelEditRow(unit)", e-class='pl0 pr0 text-center', e-required='') {{ unit.IPv4 }}
              td.mt0.mb0.pt0.pb0.align-middle
                span(editable-text='unit.MACAddress', e-name='MACAddress', e-form='rowform', e-style="width: 100%", onbeforesave='checkMACAddress($data, unit)', e-class='pl0 pr0 text-center', e-required='') {{ unit.MACAddress }}
              td.mt0.mb0.pt0.pb0.align-middle
                span(editable-select='unit.status', e-name='status', e-form='rowform', e-ng-options='statusOpt for statusOpt in statusOptions', e-style="width: 100%", e-class='pl0 pr0 text-center') {{ unit.status }}
              td.mt0.mb0.pt0.pb0.align-middle
                span(editable-number='unit.pollingInterval', e-name='pollingInterval', e-form='rowform', e-style="width: 100%", e-min='1', e-max='3600',  e-class='p0 text-center') {{ unit.pollingInterval }}        
   
              td.mt0.mb0.pt0.pb0(style='white-space: nowrap')
                // form
                form.form-buttons.form-inline(editable-form='', name='rowform', onbeforesave='saveUnit($data, unit)', ng-show='rowform.$visible', shown='unitToAdd == unit')
                  button.btn.btn-sm.btn-info(type='submit', ng-disabled='rowform.$waiting', title="Save"): em.fa.fa-save
                  button.btn.btn-sm.btn-default(type='button', ng-disabled='rowform.$waiting', ng-click='rowform.$cancel()', title="Cancel"): em.fa.fa-times
                .buttons(ng-show='!rowform.$visible')
                  button.btn.btn-sm.btn-info(ng-click='rowform.$show()', title="Edit"): em.fa.fa-pencil
                  button.btn.btn-sm.btn-danger(ng-click='removeUnit($index)', title="Delete"): em.fa.fa-trash
          
          button.btn.btn-default.btn-success.mt0(ng-click='addUnit()')
            .fa.fa-plus


  .modal-footer
    button.btn.btn-primary(ng-click='saveReportersSettings()') Save Settings 
    button.btn.btn-warning(ng-click='modalCancel()') Cancel

  // End modal
